<!DOCTYPE html>
<html>
  <head>
    <title>NLN</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="stylesheets.css"></link> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <style>
  </style>
  <body>
      <div class="parallax-container">
        <img class="nln" src="https://s3.us-east-2.amazonaws.com/nln/Logomakr_9zDbRz.png">
        <div class="tabs">
          <h4 id="tab1" class="tab">What we do?</h4>
          <h4 id="tab2" class="tab">Solutions</h4>
          <h4 id="tab3" class="tab">Who we are</h4>
          <h4 id="tab4" class="tab">Contact Us</h4>
        </div>
        <h1 id="intro">The Nadir Latif Network is a High Finance Network based in London.</h1>
        <div class="parallax"><img src="https://s3.us-east-2.amazonaws.com/nln/Night-London.jpg"></div>
        <h4 class="learnMore">Learn More</h4>
        <img class="arrow" src="https://s3.us-east-2.amazonaws.com/nln/drop-down-arrow.png"/>
      </div>
      <div class="section white">
        <div class="row container">
          <h3 class="headerWhat">What we do?</h3>
          <p class="grey-text text-darken-3 lighten-3" id="fontFamily">
            NLN’s focus is to help a select number of very wealthy families with the design and implementation of their investment strategy.
          </p>
          <p class="grey-text text-darken-3 lighten-3" id="fontFamily">
           Services that NLN offers to wealthy families include introductions to fast growing companies (and capital raising for them);
          VC firms; large real estate investors; investment banks; independent asset managers; private banks; activist investment
          management. NLN is independent and not tied to any bank or investment bank although we work closely with a few
          we consider to be the best. NLN’s focus is to help a select number of very wealthy families with the design and implementation of their investment strategy.
          </p>
          <p class="grey-text text-darken-3 lighten-3" id="fontFamily">
           NLN are already supported by a couple of wealthy families, which means that at any one time we have $500m of liquid assets
          at our disposal to invest alongside our clients.
          </p>
          <p class="grey-text text-darken-3 lighten-3" id="fontFamily">
             I view the firm as a “Wealth Accelerator” rather than a Multi Family Office or Wealth Manager. Multi Family Offices often
            undertake the investment and invest with specialist firms incurring a double fee. I do not believe in this approach
            and introduce clients direct to the best of breed firms in each space. The large backing that I already have
            from wealthy families means that NLN will be significant clients for its recommended firms and will be able to
            negotiate institutional type fees. In effect, the cost of using NLN will be offset by how much better a rate
            NLN can get for the client, so the firm's services for wealthy families are in effect free.
          </p>
          <p class="grey-text text-darken-3 lighten-3" id="fontFamily">
            NLN is not in the retail client space and only work with sophisticated clients such as wealthy families and their investment
            offices and CEOs of companies. NLN also works with the entrepreneur founders of fast growing companies prior to their liquidity
            event.
          </p>
          <p class="grey-text text-darken-3 lighten-3" id="fontFamily">
            Whilst the network is naturally biased towards the twenty years I spent in Morgan Stanley’s equity business in Europe, well
            over half the network are individuals from other firms that I got to know along the way.
          </p>
        </div>
      </div>
      <div class="parallax-container">
        <h3 class="solutions">Solutions</h3>
        <p class="solutionText">Current case studies of projects that NLN is involved with together with our partner firms include the following:</p>
        <p class="solutionText">Investing in fast growing private companies, more than $10m in sales, more than $2m in EBITDA</p>
        <p class="solutionText">Introductions to Venture Capital firms in Silicon Valley</p>
        <p class="solutionText">Real Estate Investment in US and Canada, including commercial, residential, and student housing</p>
        <p class="solutionText">Capital Raising for fast growing companies where they do not want to sell to private equity</p>
        <p class="solutionText">Introductions to best of breed, independent asset managers and hedge fund</p>
        <p class="solutionText">Helping to find the right private bank</p>
        <p class="solutionText">Activist investment management in medium sized companies with poor share price performance</p>
        <div class="parallax"><img src="https://s3.us-east-2.amazonaws.com/nln/goodwp.com_17023.jpg"></div>
      </div>
      <div class="section white">
        <div class="row container" id="aboutContainer">
          <h3 class="headerWhat">Who we are</h3>
          <p class="grey-text text-darken-3 lighten-3" id="about">
            Nadir Latif is the founder of NLN. Nadir has worked in investment banking and equities for over thirty five years, including
            a twenty year career at Morgan Stanley.
          </p>
          <p class="grey-text text-darken-3 lighten-3" id="about">
          NLN is a selection of the most capable, highest integrity individuals that I have known well during my thirty five years
          of doing investment banking, equity sales and IPOs, investment management, investment research and more recently private
          banking and investing in fast growing entrepreneurial companies. Please note that the individuals that my firm works with
          have to have all three criteria - extraordinary financial market capability and track record; impeccable integrity; and those
          that I know very well, not superficially. In essence, all our partners are made of “The Right Stuff”.
          </p>
          <img id="nadir" src="https://s3.us-east-2.amazonaws.com/nln/nadir">
        </div>
      </div>
      <footer class="page-footer">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Contact Us</h5>
              <p class="grey-text text-lighten-4">Form</p>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">Email Us Directly</h5>
              <ul>
                <li><a href="mailto:nadir@latif-khan.com"><i class="small material-icons">email</i>nadir</a></li>
                <li><a href="mailto:lesley@nlnetwork.com"><i class="small material-icons">email</i>lesley</a></li>
                <li><a href="mailto:info@nlnetwork.com"><i class="small material-icons">email</i>info</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
            © 2017 Nadir Latif Network
            <a class="grey-text text-lighten-4 right" href="#!">powered by ALdev</a>
          </div>
        </div>
      </footer>
      <script>    
        $(document).ready(function () {
          $('.parallax').parallax();
        });
      </script>
  </body>
</html>