<!DOCTYPE html>
<html>
  <head>
    <title>NLN</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="stylesheets.css"></link> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <style>
  </style>
  <body>
      <div class="parallax-container">
        <img class="nln" src="https://s3.us-east-2.amazonaws.com/nln/Logomakr_9zDbRz.png">
        <div class="tabs">
          <h4 id="tab1" class="tab">What we do?</h4>
          <h4 id="tab2" class="tab">Solutions</h4>
          <h4 id="tab3" class="tab">Who we are</h4>
          <h4 id="tab4" class="tab">Contact Us</h4>
        </div>
        <h1 id="intro">The Nadir Latif Network is a High Finance Network based in London.</h1>
        <div class="parallax"><img src="https://s3.us-east-2.amazonaws.com/nln/Night-London.jpg"></div>
        <h4 class="learnMore">Learn More</h4>
        <img class="arrow" src="https://s3.us-east-2.amazonaws.com/nln/drop-down-arrow.png"/>
      </div>
      <div class="section white">
        <div class="row container">
          <h3 class="headerWhat">What we do?</h3>
          <p class="grey-text text-darken-3 lighten-3" id="fontFamily">
            Services that NLN and our partners offer are comprehensive and cover all aspects of wealth management.
          </p>
          <p class="grey-text text-darken-3 lighten-3" id="fontFamily">
            NLN already works on behalf of a small group of wealthy families, so we currently have $500m of liquid assets at our disposal
            to invest alongside our clients.
          </p>
          <p class="grey-text text-darken-3 lighten-3" id="fontFamily">
            This strong backing means that NLN is able to negotiate institutional rate fees. In effect, the cost of using NLN is offset
            by how much better a rate NLN can get for the client, so the firm's services for wealthy families are in effect free.
          </p>
          <p class="grey-text text-darken-3 lighten-3" id="fontFamily">
            The firm is a “Wealth Accelerator” in contrast to the Multi Family Offices and boutique investment firms, which often claim
            to do the investment process themselves but in turn rely on investment banks and fund of funds, thereby incurring a double
            fee and eating into performance.
          </p>
          <p class="grey-text text-darken-3 lighten-3" id="fontFamily">
            NLN does not believe in this approach and introduces clients direct to the best of breed investment firms in each space.
          </p>
          <p class="grey-text text-darken-3 lighten-3" id="fontFamily">
            NLN also works with the entrepreneur founders of fast growing companies prior to and after their liquidity event.
          </p>
        </div>
      </div>
      <div class="parallax-container">
        <h3 class="solutions">Solutions</h3>
        <h5 id="fontFamily" class="listHeader">Current case studies of projects that NLN is involved with together with our partner firms include the following:</h5>
          <ul>
            <li class="solutionText"><i id="bullet" class="material-icons">lens</i>Investing in fast growing private companies, more than $10m in sales, more than $2m in EBITDA</li>
            <li class="solutionText"><i id="bullet" class="material-icons">lens</i>Introductions to Venture Capital firms in Silicon Valley</li>
            <li class="solutionText"><i id="bullet" class="material-icons">lens</i>Real Estate Investment in US and Canada, including commercial, residential, and student housing</li>
            <li class="solutionText"><i id="bullet" class="material-icons">lens</i>Capital Raising for fast growing companies where they do not want to sell to private equity</li>
            <li class="solutionText"><i id="bullet" class="material-icons">lens</i>Introductions to best of breed, independent asset managers and hedge fund</li>
            <li class="solutionText"><i id="bullet" class="material-icons">lens</i>Helping to find the right private bank</li>
            <li class="solutionText"><i id="bullet" class="material-icons">lens</i>Activist investment management in medium sized companies with poor share price performance</li>
          </ul>
        <div class="parallax"><img src="https://s3.us-east-2.amazonaws.com/nln/goodwp.com_17023.jpg"></div>
      </div>
      <div class="section white">
        <div class="row container" id="aboutContainer">
          <h3 class="headerWhat">Who we are</h3>
          <p class="grey-text text-darken-3 lighten-3" id="about">
            Nadir Latif, the founder of NLN, has worked in senior roles in investment banking and investing for over thirty five years,
            of which twenty were at Morgan Stanley.
          </p>
          <p class="grey-text text-darken-3 lighten-3" id="about">
            NLN’s focus is to help a select number of very wealthy families with the design and implementation of their investment strategy.
          </p>
          <p class="grey-text text-darken-3 lighten-3" id="about">
           NLN is a selection of the most capable, highest integrity individuals that Nadir has known well during his career.
          </p>
          <p class="grey-text text-darken-3 lighten-3" id="about">
             NLN only works with individuals that pass our three criteria - extraordinary financial market capability and track record;
            impeccable integrity; and those that we know very well, not superficially. In essence, all our partners are made
            of “The Right Stuff”.
          </p>
          <img id="nadir" src="https://s3.us-east-2.amazonaws.com/nln/nadir">
        </div>
      </div>
      <footer class="page-footer">
        <div class="container">
          <div class="row">
            <div class="contactUs">
              <h5 class="white-text">Contact Us</h5>
              <ul>
                <li><a id="emailLink" href="mailto:nadir@latif-khan.com"><i id="email" class="small material-icons">email</i>nadir</a></li>
                <li><a id="emailLink" href="mailto:lesley@nlnetwork.com"><i id="email" class="small material-icons">email</i>lesley</a></li>
                <li><a id="emailLink" href="mailto:info@nlnetwork.com"><i id="email" class="small material-icons">email</i>info</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
            © 2017 Nadir Latif Network
            <a class="grey-text text-lighten-4 right" href="#!">powered by ALdev</a>
          </div>
        </div>
      </footer>
      <script>    
        $(document).ready(function () {

          // responsive navbar
          setInterval(() => {
            if (window.innerWidth < 998) {
              console.log('inside here')
              $('.tabs').addClass('hidden')
            } else {
              $('.tabs').removeClass('hidden')
            }console.log($(window).scrollTop())}, 300);

          // link click handlers
          $('#tab1').click(function () {
            $("html, body").animate({ scrollTop: 702.2222290039062 }, 600);
            return false;
          });
          $('#tab2').click(function () {
              $("html, body").animate({ scrollTop: 1322 }, 600);
              return false;
          });
          $('#tab3').click(function () {
              $("html, body").animate({ scrollTop: 1940 }, 600);
              return false;
          });
          $('#tab4').click(function () {
              $("html, body").animate({ scrollTop: 2181 }, 600);
              return false;
          });
          // parallax initialize
          $('.parallax').parallax();
        });
      </script>
  </body>
</html>