<!DOCTYPE html>
<html>
  <head>
    <title>appname</title>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="stylesheets.css"></link> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <style>
  </style>
  <body>
      <div class="parallax-container">
      </div>
      <div class="section white">
        <div class="row container">
        </div>
      </div>
      <div class="parallax-container">
        <div class="parallax"><img src="https://s3.us-east-2.amazonaws.com/nln/goodwp.com_17023.jpg"></div>
      </div>
      <div class="section white">
        <div class="row container" id="aboutContainer">
        </div>
      </div>
      <footer class="page-footer">
        <div class="container">
          <div class="row">
            <div class="contactUs">
              <h5 class="white-text">Contact Us</h5>
              <ul>
                <li><a id="emailLink" href=""><i id="email" class="small material-icons">email</i>mail</a></li>
                <li><a id="emailLink" href=""><i id="email" class="small material-icons">email</i>mail</a></li>
                <li><a id="emailLink" href=""><i id="email" class="small material-icons">email</i>mail</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
            © 2017 
            <a class="grey-text text-lighten-4 right" href="#!">powered by ALdev</a>
          </div>
        </div>
      </footer>
      <script>    
        $(document).ready(function () {

          // responsive navbar
          setInterval(() => {
            if (window.innerWidth < 998) {
              console.log('inside here')
              $('.tabs').addClass('hidden')
            } else {
              $('.tabs').removeClass('hidden')
            }console.log($(window).scrollTop())}, 300);

          // link click handlers
          $('#tab1').click(function () {
            $("html, body").animate({ scrollTop: 702.2222290039062 }, 600);
            return false;
          });
          $('#tab2').click(function () {
              $("html, body").animate({ scrollTop: 1322 }, 600);
              return false;
          });
          $('#tab3').click(function () {
              $("html, body").animate({ scrollTop: 1940 }, 600);
              return false;
          });
          $('#tab4').click(function () {
              $("html, body").animate({ scrollTop: 2181 }, 600);
              return false;
          });
          // parallax initialize
          $('.parallax').parallax();
        });
      </script>
  </body>
</html>