.parallax-container .parallax img {
    display: block;
    filter: brightness(64%);
}

.body {
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
}

#intro {
    color: rgba(255, 255, 255, 0.85);
    font-size: 25px;
    line-height: 110%;
    margin: 2.1rem 0 1.68rem 0;
    position: absolute;
    top: 22%;
    right: 10vw;
    left: 19vw;
    font-family: 'Varela Round', sans-serif;
}

.parallax-container {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100%;
}

.nln {
    width: 110px;
    position: absolute;
    left: 8vw;
    top: 3vh;
}

@keyframes bouncing {
    0% {bottom: 0;}
    50% {bottom: 20px;}
    100% {bottom: 0;}
}

.arrow {
    animation: bouncing 1s infinite ease-in-out;
    bottom: 0;
    display: block;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    position: absolute;
    width: 50px;
    color: rgba(255, 255, 255, 0.85);
}

.learnMore {
    color: rgba(255, 255, 255, 0.85);
    font-size: 20px;
    position: absolute;
    left: 46vw;
    top: 84vh;
    right: 40vw;
    font-family: 'Varela Round', sans-serif;
}

.solutionText {
    color: rgba(255, 255, 255, 0.85);
    margin-bottom: 34px;
    margin-left: 13vw;
    font-size: 19px;
    font-family: 'Varela Round', sans-serif;
}

.solutions {
    color: rgba(255, 255, 255, 0.85);
    margin-left: 9vw;
    margin-top: 57px;
    margin-bottom: 28px;
    font-family: 'Varela Round', sans-serif;
}

.headerWhat {
    left: -7%;
    position: relative;
    font-family: 'Varela Round', sans-serif;
}

#about {
    width: 70%;
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
}

#nadir {
    width: 305px;
    position: relative;
    right: -52vw;
    bottom: 385px;
    font-family: 'Varela Round', sans-serif;
}

#aboutContainer {
    height: 400px;
    font-family: 'Varela Round', sans-serif;
}

#fontFamily {
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
}

.row {
    margin-top: 51px;
    margin-bottom: 50px;
}

.page-footer {
    background-color: #000015;
}

.tab {
    font-family: 'Varela Round', sans-serif;
    color: rgba(255, 255, 255, 0.85);
    font-size: 20px;
    text-align: center;
    line-height: 48px;
    height: 48px;
    padding: 0;
    margin: 0;
    /* margin-right: 86px; */
    margin-left: 7vw !important;
    margin-top: 5vh !important;
    text-transform: uppercase;
}

.tab:hover {
    font-family: 'Varela Round', sans-serif;
    color: #5bc0e3;
    font-size: 20px;
    text-align: center;
    line-height: 48px;
    height: 48px;
    padding: 0;
    margin: 0;
    margin-left: 7vw !important;
    margin-top: 5vh !important;
    text-transform: uppercase;
}

.tabs {
    position: absolute;
    overflow: visible;
    height: 48px;
    width: 112%;
    background-color: transparent !important; 
    margin: 0 auto;
    white-space: nowrap;
    display: flex;
    justify-content: center;
}

#bullet {
    position: relative;
    top: 5px;
    right: 7px;    position: relative;
    top: 5px;
    right: 7px;
}

.listHeader {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.85);
    margin-left: 10vw;
    margin-bottom: 35px;
}

.contactUs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#email {
    position: relative;
    top: 9px;
    right: 13px;
}

#emailLink {
    color: #A68F68;
}

#emailLink:hover {
    color: #5bc0e3;
}

.hidden {
    display: none;
}