.parallax-container .parallax img {
    display: block;
    filter: brightness(64%);
}

.body {
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
}

#intro {
    color: rgba(255, 255, 255, 0.85);
    font-size: 30px;
    line-height: 110%;
    margin: 2.1rem 0 1.68rem 0;
    position: absolute;
    top: 22%;
    left: 26%;
    font-family: 'Varela Round', sans-serif;
}

.parallax-container {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100%;
}

.nln {
    width: 113px;
    position: absolute;
    left: 195px;
    top: 20px;
}

@keyframes bouncing {
    0% {bottom: 0;}
    50% {bottom: 20px;}
    100% {bottom: 0;}
}

.arrow {
    animation: bouncing 1s infinite ease-in-out;
    bottom: 0;
    display: block;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    position: absolute;
    width: 50px;
    color: rgba(255, 255, 255, 0.85);
}

.learnMore {
    color: rgba(255, 255, 255, 0.85);
    font-size: 20px;
    position: absolute;
    left: 47.4%;
    top: 89%;
    font-family: 'Varela Round', sans-serif;
}

.solutionText {
    color: rgba(255, 255, 255, 0.85);
    margin-bottom: 34px;
    margin-left: 399px;
    font-size: 20px;
    font-family: 'Varela Round', sans-serif;
}

.solutions {
    color: rgba(255, 255, 255, 0.85);
    margin-left: 197px;
    margin-top: 170px;
    margin-bottom: 79px;
    font-family: 'Varela Round', sans-serif;
}

.headerWhat {
    left: -7%;
    position: relative;
    font-family: 'Varela Round', sans-serif;
}

#about {
    width: 885px;
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
}

#nadir {
    width: 305px;
    position: absolute;
    right: 10%;
    top: 280%;
    font-family: 'Varela Round', sans-serif;
}

#aboutContainer {
    height: 400px;
    font-family: 'Varela Round', sans-serif;
}

#fontFamily {
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
}

.row {
    margin-top: 51px;
    margin-bottom: 50px;
}

.page-footer {
    background-color: #000015;
}

.tab {
    font-family: 'Varela Round', sans-serif;
    color: rgba(255, 255, 255, 0.85);
    font-size: 20px;
    text-align: center;
    line-height: 48px;
    height: 48px;
    padding: 0;
    margin: 0;
    /* margin-right: 86px; */
    margin-left: 122px !important;;
    margin-top: 34px !important;;
    text-transform: uppercase;
}

.tab:hover {
    font-family: 'Varela Round', sans-serif;
    color: #000015;
    font-size: 20px;
    text-align: center;
    line-height: 48px;
    height: 48px;
    padding: 0;
    margin: 0;
    margin-left: 122px !important;
    margin-top: 34px !important;
    text-transform: uppercase;
}

.tabs {
    position: absolute;
    overflow: visible;
    height: 48px;
    width: 100%;
    background-color: transparent !important; 
    margin: 0 auto;
    white-space: nowrap;
    display: flex;
    justify-content: center;
}